html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #520213;
}
a {
    text-decoration: none;
    color:#907a3e;
}

.main {
    height: 100%;
    background-size:100%;
    background-repeat: no-repeat;
    background-image:url("http://www.trivium.org/sites/g/files/g2000005246/f/201709/header.jpg");
}
.social-image{
    width: 30px;
    margin: 15px;
}
.navbar {
    display:flex;
    justify-content: space-around;
    background-color:#231f20;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
.header {
    text-align: center;
    color:#907a3e;
    font-size:50px;
    font-family: 'Merienda One', cursive;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;}
    
.thumbnail-image {
    height:250px;
    
    border: 2px solid black;
    margin:15px;
}
#img {
    height:310px;
    width:220px;
}

.aboutMain {
    display:flex;
    height:100%;
}
.leftPane {
    width:45%;
    font-size:20px;
    color: white;
}
.rightPane {
    width:55%;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf1YUaRM9VAKp2mdSLI2wpX1_2ivAJbUdsJsULaELpXLbxB0Cb");
     background-repeat: no-repeat;   
     background-size:100%;
     margin:7px;
}
.footer {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #8e7932;
    background-color: #231f20;
}