html {
    height: 100%;
}

body {
    height: 100%;
    background-color: white;
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
    background-size:100%;
    background-repeat: no-repeat;
    background-image:url("http://www.trivium.org/sites/g/files/g2000005246/f/201709/header.jpg");
}
.social-image{
    width: 30px;
    margin: 15px;
}
.navbar {
    display:flex;
    justify-content: space-around;
    color:#03396c;
    background-color: #6b7782;
    padding-top: 15px;
    padding-bottom: 15px
}
.header {
    text-align: center;
    color:#9a0000;
    font-size:30px;
}
p {
    color:#9a0000;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;}
    
.thumbnail-image {
    height:200px;
    width:220px;
    border: 1px solid red;
    margin:15px;
 
}

    
